.profile__botton-edit {
    background-image: url(../../../images/edit.svg);
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 24px;
    min-height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 18px;
    cursor: pointer;
}

.profile__botton-edit:hover  {
    opacity: 60%;
}

@media (max-width: 475px) {
    .profile__botton-edit {
        margin-left: 10px;
        min-width: 18px;
        min-height: 18px;
    }
}