.page {
    height: auto;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 45px auto 60px;
    max-width: 880px;
    box-sizing: border-box;
    background: #000000;
}

@media (max-width: 1024px) {
    .page {
         margin: 45px auto 36px;
      }
    }

@media (max-width: 768px) {
    .page {
         margin: 28px auto 36px;
      }
    }