.profile__avatar {
    background-image: url(../../../images/Jacques-Yves-Cousteau.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    min-width:  120px;
    min-height: 120px;
}