.profile__botton-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 146px;
    min-height: 46px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    color: #ffffff;
    cursor: pointer;
    background-image: url(../../../images/add.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.profile__botton-add:hover {
    opacity: 60%;
}

@media (max-width: 675px) {
    .profile__botton-add {
        margin: 31px auto 0;
        min-width: 278px;
        background-size: 16px;
    }
 }