.profile__botton-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    min-height: 50px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    color: #ffffff;
}

.profile__botton-add:hover {
    opacity: 60%;
}

@media (max-width: 675px) {
    .profile__botton-add {
        margin: 36px auto 0;
        width: 100%;
    }
 }